openapi: 3.1.0
info:
  title: Anam AI Auth Tools API
  version: '1.0'
servers:
- url: https://api.anam.ai
  description: Anam API
security:
- BearerAuth: []
tags:
- name: Tools
paths:
  /v1/tools/{id}:
    get:
      summary: Get tool
      description: Get a tool by ID
      x-mint:
        mcp:
          enabled: true
          name: get-tool
          description: Get details of a specific tool by its ID
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: Tool ID
      responses:
        '200':
          description: Successfully retrieved tool
        '401':
          description: Unauthorized - Invalid or missing API key
        '404':
          description: Tool not found
        '500':
          description: Server error
      operationId: getTool
      tags:
      - Tools
    put:
      summary: Update tool
      description: Update a tool
      x-mint:
        mcp:
          enabled: true
          name: update-tool
          description: Update a tool's configuration
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: Tool ID
      responses:
        '200':
          description: Successfully updated tool
        '400':
          description: Bad request - Invalid tool data
        '401':
          description: Unauthorized - Invalid or missing API key
        '404':
          description: Tool not found
        '500':
          description: Server error
      operationId: updateTool
      tags:
      - Tools
    delete:
      summary: Delete tool
      description: Delete a tool
      x-mint:
        mcp:
          enabled: true
          name: delete-tool
          description: Delete a tool. Use with caution as this cannot be undone.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: Tool ID
      responses:
        '204':
          description: Successfully deleted tool
        '401':
          description: Unauthorized - Invalid or missing API key
        '404':
          description: Tool not found
        '500':
          description: Server error
      operationId: deleteTool
      tags:
      - Tools
  /v1/tools:
    get:
      summary: List tools
      description: Returns a list of all tools for the organization
      x-mint:
        mcp:
          enabled: true
          name: list-tools
          description: Get a paginated list of all tools with optional search filtering
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number for pagination
      - in: query
        name: perPage
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        description: Number of items per page
      - in: query
        name: search
        schema:
          type: string
        description: filter tools by name or description
      responses:
        '200':
          description: Successfully retrieved tools
        '401':
          description: Unauthorized - Invalid or missing API key
        '500':
          description: Server error
      operationId: listTools
      tags:
      - Tools
    post:
      summary: Create tool
      description: Create a new tool
      x-mint:
        mcp:
          enabled: true
          name: create-tool
          description: Create a new tool for the organization
      responses:
        '201':
          description: Successfully created tool
        '400':
          description: Bad request - Invalid tool data
        '401':
          description: Unauthorized - Invalid or missing API key
        '500':
          description: Server error
      operationId: createTool
      tags:
      - Tools
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
